body{
  font-family: 'Courier New', Courier, monospace;
  background-image: url('../public/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;

}

.profile-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}


.profile-image {
  height: 30%;
  width: 30%;
  border-radius: 20%;
}

.light-text{
  color: white;
}