body{
  font-family: 'Courier New', Courier, monospace;
  background-image: url('../public/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;

}

.profile-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.profile-image {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.light-text{
  color: white;
}